<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>HTTP Helper</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1>HTTP Helper</h1>
    
    <button id="submit-button" value="test">Send</button><input type="text" id="url" value="https://www.devdungeon.com" />
    <br />
    <textarea id="main-text"></textarea>

    <script>
      // You can also require other files to run in this process
      require('../renderer.js')
    </script>
  </body>
</html>
